# Active la réécriture d'URL
RewriteEngine on

# Lorsqu'un fichier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f

# Lorsqu'un dossier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.*)$ /PA/index.php?route=$1 [L,QSA]
RewriteRule ^(.*)$ https://project-no-more-waste.herokuapp.com/index.php?route=$1 [L,QSA]
